node_modules
.idea

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
GYDABLE WORK NOTES.docx
~$DABLE WORK NOTES.docx
REACT WORK NOTES.docx
~$ACT WORK NOTES.docx
#other folders
config
